﻿@model IEnumerable<DAL.Models.Tb_House>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>|
    <a asp-action="Deleted">Deleted</a>|
    <a asp-controller="Owner" asp-action="index">Owners</a>|
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tb_Owner.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tb_Owner.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tb_Owner.Name)  @Html.DisplayFor(modelItem => item.Tb_Owner.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tb_Owner.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you wish to delete this House?');">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
